.header {
    @media screen and (max-width: 767px) {
        width: 100vw;
        height: 100vh; 
    }

    &__container {
        position: relative;
    }
}

.navigation {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: flex;
        justify-content: space-between;        
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        &__list {
            display: none;
        }        
    }

    &__mobile-button {
        @media screen and (min-width: 768px) {
            display: none;            
        }
    }
}

.navigation-contact {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        &__list {
            display: none;
        }        
    }
}

.mobile {
    // position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 3px solid aquamarine;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        
    }

    @media screen and (min-width: 768px) {
        display: none;        
    }

    // &__button {
    //     position: absolute;
    // }
}



// .header {
//     &__container {
//         @media screen and (min-width: 320px) {
//             .navigation {
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//                 width: 480px;

//                 margin: 0 auto;
//                 padding-left: 15px;
//                 padding-right: 15px;
//             }
//             .navigation__mobile-button {
//                 display: inline-flex;
//                 padding: 0;
//                 border: none;
//                 background-color: transparent;
//             }
//             .navigation__list {
//                 display: none;
//             }
//         }
//     }
// }