.navigation {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: flex;
        justify-content: space-between;        
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        &__list {
            display: none;
        }        
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__mobile-button {
        @media screen and (min-width: 320px) {
            width: 40px;
            height: 40px;
            background-color: inherit;
            border: none;
        }

        @media screen and (min-width: 768px) {
            display: none;            
        }
    }

    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            gap: 50px;
            margin-left: 92px;
        }
    }
}

.navigation-contact {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        &__list {
            display: none;
        }        
    }

    &__list {
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 30px;
        }
    }
}

.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 40px;

    z-index: 999;

    background-color: $white-color;

    border: 3px solid aquamarine;

    transform: translateX(100%);

    @media screen and (min-width: 768px) {
        display: none;        
    }

    &__button {
        @media screen and (min-width: 320px) {
            width: 40px;
            height: 40px;
            background-color: inherit;
            border: none;
        }
    }
}

.mobile.is-open {
    transform: translateX(0);
}