.header {
  border: 1px solid #ececec;

  &__list {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__item {
    display: block;
    height: 16px;
  }

  &__link {
    color: $main-color;

    position: relative;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: $transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contact {
    color: $second-color;
    fill: $second-color;
  
    display: block;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: $transition;

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  &__icon {
    min-width: 16px;
    min-height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
  
    transition: $transition;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}