.filters {
  &__list {
    margin-bottom: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  &__button {
    color: $main-color;
    background-color: $background-color;
    cursor: pointer;
  
    padding: 6px 25px;
    min-width: 73px;
    margin: 0 auto;
    border-radius: 4px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    transition: $transition;

    &:hover,
    &:focus {
      color: $white-color;
      background: $accent-color;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.work {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;

  &__info {
    max-width: 370px;
    max-height: 404px;
    background: $white-color;
    border: 1px solid #eeeeee;
  
    transition: $transition;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    }
  }

  &__icon {
    position: relative;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
  
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  
    background-color: rgba(33, 150, 243, 0.9);
    color: $white-color;
    transition: $transition;
  }

  &__div {
    padding: 20px 24px;
  }

  &__title {
    color: $main-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    color: $second-color;

    margin-top: 4px;
  
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}

.work__info:hover .work__label,
.work__info:focus .work__label {
  transform: translateY(0);
}