.hero {
  position: relative;

  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ),
    url(../image/background.jpg);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
          ),
        url(../../image/background2x.jpg)
      }
    }

  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 320px) {
    max-width: 480px;
    min-height: 400px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    min-height: 400px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    min-height: 600px;
  }
}


.hero-section {
  text-align: center;

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;    
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-color;

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.61;
      max-width: 360px;      
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;    
    }
  }

  &__button {
    min-width: 216px;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $white-color;
    background: $accent-color;
    cursor: pointer;
  }
}

.condescension {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__icon {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    border-radius: 4px;

    @media screen and (min-width: 320px) {
      max-width: 450px;
    }

    @media screen and (min-width: 480px) {
      min-width: 450px;
    }

    @media screen and (min-width: 768px) {
      min-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 270px;
    }
  }

  &__title {
    font-family: "Roboto";
    font-style: normal;

    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $main-color;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    text-align: justify;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $second-color;

    @media screen and (min-width: 320px) {
      max-width: 450px;
      margin-bottom: 30px;
      &:not(:last-child) {
        @media screen and (min-width: 320px) {
          margin-bottom: 30px;
        }
      }
    }

    @media screen and (min-width: 768px) {
      max-width: 354px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }
  }
}

.hero-task {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.task {
  &__title {
    margin: 0 auto;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: $main-color;
  }

  &__list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
  }

  &__item {
    width: calc((100% - 60px) / 3);
    position: relative;
  }

  &__image {
    display: block;
  }

  &__text {
    position: absolute;
    min-width: 370px;
    height: 70px;
    padding-top: 27px;
    left: 0;
    bottom: 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
    background: rgba(47, 48, 58, 0.8);
  }
}

.hero-team {
  background-color: $background-color;
}

.team {
  &__title {
    margin: 0 auto;
  }

  &__list {
    @media screen and (min-width: 320px) {
      margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
      margin-top: 50px;
    }
  }

  &__item {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}

.employees {
  background-color: $white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__icon {
    @media screen and (min-width: 320px) {
      width: 100%;
      max-height: 460px;
    }

    @media screen and (min-width: 480px) {
      width: 100%;
      min-height: 460px;
    }

    @media screen and (min-width: 768px) {
      min-width: 354px;
      min-height: 374px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 270px;
      min-height: 260px;
    }
  }

  &__card {
    padding-top: 30px;

    @media screen and (min-width: 320px) {
      max-width: 450px;
      max-height: 460px;
    }

    @media screen and (min-width: 480px) {
      max-width: 450px;
      max-height: 460px;
    }
  
    @media screen and (min-width: 768px) {
      max-width: 354px;
      max-height: 374px;
    }
  
    @media screen and (min-width: 1200px) {
      max-width: 270px;
      max-height: 260px;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: $main-color;
  }

  &__speciality {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: $second-color;
  }
}

.social-network {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;

  padding-left: 32px;
  padding-right: 32px;
  gap: 10px;

  &__item {
    width: 44px;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: inherit;
  }

  &__icon {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    text-align: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    fill: $grey-color;

    transition: $transition;

    &:hover,
    &:focus {
      fill: $white-color;
      background-color: $accent-color;
    }
  }

  &__logo {
    height: 44px;
  }
}

.client {
  &__title {
    @media screen and (min-width: 320px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__list {
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 320px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
      margin-top: 50px;
    }
  }

  &__link {
    border: 1px solid $grey-color;
    border-radius: 4px;

    display: inline-flex;
    text-align: center;
    justify-content: center;

    fill: $grey-color;

    transition: $transition;

    &:hover,
    &:focus {
      fill: $accent-color;
      border-color: $accent-color;
    }

    @media screen and (min-width: 320px) {
      max-width: 210px;
      height: 92px;
    }

    @media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 170px;
      height: 92px;
    }
  }
}